* {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 768px;
	height: 59.3rem;
	background-color: black;
	color: #fff;
}

/* Button */

.lang {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.lang__button {
	border-radius: 8px;
	border: none;
	color: #ffffff;
	padding: 8px 16px;
	font-size: 20px;
	background: rgba(255, 255, 255, 0.32);
	margin: 40px 128px 0 0;
}

/* Header */

.header__main {
	margin-top: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.header__img {
	margin-bottom: 24px
}

.header__title {
	width: 512px;
	height: 56px;
	text-align: left;
	letter-spacing: 1.1px;
}

/* Social */

.social {
	margin: 16px 0 32px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 512px;
	gap: 16px;
}

.social__btn {
	width: 160px;
	height: 56px;
	border-radius: 8px;
}

.social__btn-tlg {
	background-image: url(./img/tel.png);
}

.social__btn-wsp {
	background-image: url(./img/whats.png);
}

.social__btn-ggl {
	background-image: url(./img/ggl.png);
}

/* Catalogs */

.catalogs {
	font-size: 18px;
	letter-spacing: 1.1px;
	}

.catalog__title {
	margin-bottom: 8px
}

.catalog__items {
	display: flex;
	justify-content: center;
	vertical-align: middle;
	flex-direction: column;
	gap: 8px;
}

.catalog__btn {
	width: 512px;
	height: 56px;
	border-radius: 8px;
	background-color: #fff;
	font-size: 20px;
}
